/* CHARACTER */
.character {
  width: 30rem;
  height: 30rem;
  background-size: 215%;
  background-repeat: no-repeat;
  background-position: center center;
}

.character-0 {
  background-image: url("../images/char0.gif");
}

.character-1 {
  background-image: url("../images/char1.gif");
}

.character-2 {
  background-image: url("../images/char2.gif");
}
